 <p><font size="6"><b>ANALYSE DES DONNEES DU TITANIC</b></font></p>

In [ ]:
# importation des bibliothèques nécéssaires à notre analyse
import pandas as pd
import numpy as np

In [ ]:
# lecture du jeu de données sous forme de dataframe
df = pd.read_csv('/content/titanic.csv')

In [ ]:
#Aperçu des données
df.head()

In [ ]:
# Vérifions le nombre de lignes et de colonnes que contient notre dataframe
df.shape

In [ ]:
# Un aperçu des types des colonnes et des valeurs nulles
df.info()

In [ ]:
#Répartition des valeurs nulles
df.isnull().sum()

In [ ]:
# statistiques descriptives des colonnes numériques
df.describe()

In [ ]:
# statistiques descriptives de toutes les colonnes
df.describe(include = 'all')

In [ ]:
#Vérifions si notre dataset contient des doublons
df['PassengerId'].duplicated().sum()

In [ ]:
#Quel est le nombre de personnes ayant survécu?
survived_count = df['Survived'].sum()
print('Le nombre de personnes ayant survécu est', survived_count)

In [ ]:
#Quelle est la répartition du genre des passagers en nombre?

df['Sex'].value_counts()

In [ ]:
#Quelle est la répartition du genre des passagers en pourcentage?
df['Sex'].value_counts(normalize = True)

In [ ]:
#Age moyen des passagers
df['Age'].mean()

In [ ]:
#Age médian des passagers
df['Age'].median()

In [ ]:
# Prix moyen du ticket
df['Fare'].mean()

In [ ]:
#Prix médian du ticket
df['Fare'].median()

In [ ]:
#Les passagers ayant payé les tickets aux prix les plus élevés?
df[df['Fare'] == df['Fare'].max()]

In [ ]:
#La répartition des survivants par genre
#cat var - gender/sex
#num var - survival
#agg func - mean

df.groupby('Sex')['Survived'].mean()

In [ ]:
#La répartition des survivants par classe de ticket
df.groupby('Pclass')['Survived'].mean()

In [ ]:
#La répartition des survivants par classe et par genre
df.groupby(['Pclass','Sex'])['Survived'].mean()

In [ ]:
#Le profil des familles à bord
# ('SibSp' is siblings/spouses and 'Parch' is parents/children)
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1  # +1 for the passenger themselves
df['FamilySize'].describe()

In [ ]:
#Comment sont répartis les passagers selon le lieu d'embarcation?
df['Embarked'].value_counts()

In [ ]:
# Le nombre de survivants ayant une cabine
df[df['Survived'] == 1]['Cabin'].notna().sum()

In [ ]:
#Le prix moyen d'un ticket
df['Fare'].mean()

In [ ]:
#Le prix moyen d'un ticket par classe
df.groupby('Pclass')['Fare'].mean()

In [ ]:
#Le nombre d'enfants ayant survécu (passagers de moins de 18 ans)
# (Assuming 'Age' < 18 defines a child)
df[(df['Survived'] == 1) & (df['Age'] < 18)].shape[0]

In [ ]:
#Qui sont ceux qui avaient plus de 70 ans parmi les passagers à bord?
df[df['Age'] > 70].shape[0]